body{
    width: 780px;
}
.lightinhaus
{
    background: rgb(233, 233, 236);
}
.header{
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
    width: 800px;
}
.logo{
    display: flex;
    flex-direction: column;
}
.search {
    display: flex;
    flex-direction: row;
     background: #fff;
     width: 400px;
     padding: 10px;
     margin-top: 20px;
     margin-left: 180px;
     align-items: center;
     text-align: center;
     height: 48px;
     border-radius: 5px;
}
#fname{
    width: 310px;
    height: 21px;
    font-family: 'Poppins';
font-size: 15px;
color: rgba(196, 196, 196, 0.986);
}
#mirror{
    width: 18px;
    margin: 15px;
}
.showroom{
    margin-left: 180px;
    margin-top: 30px;
    font-family: poppins;
line-height: 120%;
width: 289px;
}
.notsure{
    font-family: poppins;
   width: 450px;
   margin-left: 180px;
   font-size: large;
   margin-top: 30px; 
}
.light{
    color: rgb(255, 255, 6);
}
.proceed{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 8px;
    font-family: poppins;
    margin-left: 180px;
    width: 350px;
    background: #000000;
    color: #fff;
    margin-top: 30px;
    padding-left: 25px;
}
#arrow{
   padding: 20px;
}
   .borderb{
    border-bottom: 1px solid rgba(255, 202, 5, 1);
    margin-top: 40px;
    margin-left: 180px;
    width: 420px;
   }
   .select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 420px;
    margin-left: 180px;
    font-family: poppins;
    line-height: 10%;
}

   .ps{
    font-size: 22px;
   }
   .pv{
    font-size: 16px;
    color: #F4811F;
   }
   .apt{
    margin-left: 180px;
    font-family: 'poppins';
    width: 420px;
   line-height: 20%;
   }

   .h{
    width: 460px;
    margin-left: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 5px;
   }
   #home{
    font-family: poppins;
    line-height: 80%;
    font-size: 16px;
   }
 .feature{
    margin-left: 160px;
    width: 420px;
 }
 .feature > img {
    width: 100%;
 }
 .popular{
    margin-left: 160px;
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .room{
        font-family: poppins;
        line-height: 80%;
        font-size: 12px;
       }

footer{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    width: 450px;
    margin-left: 160px;
    text-align: center;
    background: #000000;
    color: #fff;
    font-family: poppins;
    margin-top: 40px;
}
 