*{
    padding: 0;
    margin: 0;
}

.lightinhaus
{
    background: rgb(233, 233, 236);
}
.header{
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    flex-direction: column;
}
.search {
    display: flex;
    flex-direction: row;
     background: #fff;
     width: 85%;
     margin-top: 20px;
     margin-left: 30px;
     align-items: center;
     text-align: center;
     border-radius: 5px;
     padding: 20px;
}
#fname{
    width: 60%;
    font-family: 'Poppins';
font-size: 20px;
color: rgba(196, 196, 196, 0.986);
padding-left: 10px;
}
#mirror{
    margin-left: 40px;
    width: 30px;
}
.showroom{
    margin-top: 30px;
    font-family: poppins;
line-height: 120%;
width: 80%;
padding-left: 30px;
}
.notsure{
    font-family: poppins;
  width: 88%;
   margin-top: 30px; 
   padding-left: 30px;
}
.notsurep{
    width: 100%;
    font-size: 24px;
}
.light{
    color: rgb(255, 255, 6);
    font-style: italic;
}

.proceed{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 8px;
    font-family: poppins;
    width: 40%;
    background: #000000;
    color: #fff;
    margin-top: 30px;
    margin-left: 25px;
}
.pro{
    padding: 15px;
    font-size: 15px;
}

#arrow{
    padding: 20px;
 }

 .borderb{
    border-bottom: 2.5px solid rgba(255, 202, 5, 1);
    margin-top: 40px;
    width: 88%;
    margin-left: 30px;
   }

   .select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 78%;
    font-family: poppins;
    margin-top: 25px;
    margin-left: 30px;
}

   .ps{
    font-size: 22px;
   }
   .pv{
    font-size: 16px;
    color: #F4811F;
   }

   .apt{
    font-family: 'poppins';
    width: 78%;
    font-size: 22px;
    margin-top: 25px;
    margin-left: 30px;
 }

 .h{
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
    margin-top: 25px;
 }
   #home{
    font-family: poppins;
    font-size: 16px;
   }
   .feature{
    width: 80%;
    margin-left: 30px;
 }
 .feature > img {
    margin-top: 20px;
    width: 88%;

 }

 .popular{
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
 }
 .room{
        font-family: poppins;
        font-size: 14px;
       }

       footer{
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 8px;
        width: 80%;
        text-align: center;
        background: #000000;
        color: #fff;
        font-family: poppins;
        margin-top: 40px;
        margin-left: 30px;
        padding: 10px;
    }